body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  color:black;
  align-content: center
  }
img {
  align-content: center;
}
#featured-property {
  width:800px;
  align-content: center;
  
}


#details {
  float: left;
  display:block;
  background: red;
}