body {
  width: 50%;
  height: 100%;
  margin: 0;
}
h1 {
  margin:auto;
  width: 50%;
  color:black;
  align-content: center;
  }
nav {
  background-color:gray;
  width: 50%;
  align-content: center;
  padding:10px;
  
  
}
img {
  margin:auto;
  width:100%;
  align-content: center;
}
#featured-property {
  margin:auto;
  align-content: center;
  width:800px;
  
}


#details {
  float: left;
  display:block;
  background: red;
}